#BlogShowcase {
  .container {
    h1 {
      font-style: normal;
      font-weight: 700;
      font-size: 48.83px;
      line-height: 63px;
      text-transform: uppercase;
      color: #ffffff;
    }
    h2 {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      color: #ffffff;
    }
  }
}
